# ================= DATA =================
*.csv
*.parquet
ETL/DATA/
data/
datasets/

# ================= ML ARTIFACTS =================
ETL/artifacts/
ETL/mlruns/
ETL/mlflow.db
models/
*.pkl
*.joblib
*.h5

# ================= JUPYTER =================
.ipynb_checkpoints/

# ================= ENV =================
venv/
.venv/
env/
*/llmops-env/

# ================= PYTHON =================
__pycache__/
*.pyc

# ================= OS =================
.DS_Store
