# ===== DATA =====
ETL/DATA/
*.csv
*.parquet

# ===== VIRTUAL ENVIRONMENTS =====
venv/
.venv/
env/
*/venv/
*/llmops-env/

# ===== PYTHON =====
__pycache__/
*.pyc

# ===== ML ARTIFACTS =====
ETL/artifacts/
ETL/mlruns/
ETL/mlflow.db
*.pkl

# ===== JUPYTER =====
.ipynb_checkpoints/

# ===== OS =====
.DS_Store
